<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h3 class="section-title">Update Product - <%= @product.name %></h3>
            <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
        </div>
        <div class="card">
            <h5 class="card-header">Update Product Form</h5>
            <div class="card-body">
                <%= form_for @product,url:{action: :update}, html:{multipart:true} do |f| %>
                    <div class="form-group">
                        <%= f.label(:name, "Product Name", class:"col-form-label") %>
                        <%= f.text_field :name, class:"form-control", required:"" %>                        
                    </div>
                    <div class="form-group">
                        <%= f.label(:short_description, "Short Description",class:"col-form-label") %>
                        <%= f.text_field :short_description, class:"form-control", required:"" %>                        
                    </div>                    
                    <div class="form-row">
                        <div class="col-xl-6 col-lg-6">
                            <%= f.label(:price, "Price", class: "col-form-label") %>
                            <%= f.number_field :price, class:"form-control", placeholder:"100.00" %>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <%= f.label(:quantity, "Quantity",class: "col-form-label") %>
                            <%= f.number_field :quantity, class:"form-control", placeholder:"50" %>
                        </div>
                    </div>                                      
                    <div class="form-group">
                        <div class="col-xl-6 col-lg-6">
                            <%= f.label(:image, "Upload Image", class:"col-form-label" ) %>
                            <%= f.file_field :image, class:"form-control" %>
                        </div>
                        <div class="col-xl-6 col-lg-6 preview-product-image">
                            <%= image_tag("#{@product.image}", width:'200', height:'150') %>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label(:description, "Description") %>
                        <%= f.text_area :description, class: "form-control"%>                        
                    </div>
                    <div class="form-group row">
                        <div class="col col-sm-10 col-lg-9">
                            <%= f.submit "Update", class: "btn btn-space btn-primary" %>
                            <%= link_to "Cancel", :back, class: "btn btn-danger" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>